  <div class="row">
    <div class="col-xs-9 col-sm-4 col-md-3">
      <%= link_to user.name, user %>
    </div>

  
  <% if current_user.admin? && !current_user?(user) %>
    <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
  </div>  
