// Place all the styles related to the Images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@media only screen and (min-width: 992px){
  .restaurant_other_images {
    height: 150px;
  }
}

@media only screen and (max-width: 991px){
  .restaurant_other_images {
    height: 80px;
  }
}

@media (min-width: 425px) and (max-width: 767px) {
  .restaurant_other_images {
    height: 150px;
  }
}

.image-category {
  position: absolute;
  font-size: 1.3em;
  top: 0;
  right: 20px;
}

.image-full-size {
  witdth: 100%;  
}

.destroy-button-image-index-page {
  margin-top: -15px;
}

.image-form-title {
  color: #8E44AD;
}

#image_category {
  padding: 2px;
}