<div class="container show-restaurant-image">
  <h2>Images</h2>
    <div class="row">
    <% @restaurant.images.each do |image| %>   
      <div class="col-xs-6 col-sm-3">
        <%= link_to restaurant_image_path(image) do %>
          <%= image_tag image.photo.url, class: "img-responsive restaurant_other_images" %>
        <% end %>
        <div class="image-category">
          <span class="label label-primary"><%= image.category %></span>
        </div>
        <% if logged_in? %>    
          <p>
            <%= link_to 'Delete', [image.restaurant, image],
                         method: :delete,
                         data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-default" %>
          </p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>